@import "tailwindcss";

@theme {
  --font-quicksand: var(--font-quicksand);
  --font-luckiest-guy: var(--font-luckiest-guy);
  --font-rock-salt: var(--font-rock-salt);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none !important;
  }
  .no-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
}